if SHIELD_TWS_LP_JIS60_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "tws_lp_jis60"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TWS_LP_JIS60_LEFT || SHIELD_TWS_LP_JIS60_RIGHT

config ZMK_SPLIT
    default y

endif
